<div class="card center_display">
    <div class="card-content">
        <span class="card-title">ลืมรหัสผ่าน</span>
        <div class="row">
            <div class="col s12">
                <p>กรุณากรอกชื่อผู้ใช้หรืออีเมลที่ใช้ในการสมัครสมาชิก</p>
            </div>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="user_id" type="text" class="validate" placeholder="ชื่อผู้ใช้หรืออีเมล">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <a class="waves-effect waves-light btn" [routerLink]="['/user/chenge']">ดำเนินการต่อ</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <a class="waves-effect waves-light" [routerLink]="['/user/login']">เข้าสู่ระบบ</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>