<div class="card center_display">
    <div class="card-content">
        <span class="card-title">สมัครสมาชิก</span>
        <hr>
        <div class="row">
            <div class="col s6">
                <button class="loginBtn loginBtn--google">
                    Google
                </button>
            </div>
            <div class="col s6">
                <button class="loginBtn loginBtn--facebook">
                    Facebook
                </button>
            </div>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="first_name" [(ngModel)]="first_name" type="text" class="validate" autocomplete="true" placeholder="ชื่อ" required>
                    </div>
                    <div class="input-field col s12">
                        <input name="last_name" [(ngModel)]="last_name" type="text" class="validate" autocomplete="true" placeholder="นามสกุล" required>
                    </div>
                    <div class="input-field col s12">
                        <input name="user_name" [(ngModel)]="user_name" type="text" class="validate" autocomplete="true" placeholder="ชื่อผู้ใช้" required>
                    </div>
                    <div class="input-field col s12">
                        <input name="email" [(ngModel)]="email" type="text" class="validate" autocomplete="true" placeholder="อีเมล" required>
                    </div>
                    <div class="input-field col s12">
                        <input name="password" [(ngModel)]="password" type="password" class="validate" autocomplete="true" placeholder="รหัสผ่าน" required>
                    </div>
                    <div class="input-field col s12">
                        <input name="confirm_password" [(ngModel)]="confirm_password" type="password" class="validate" autocomplete="true" placeholder="ยืนยันรหัสผ่าน" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <a class="waves-effect waves-light btn" (click)="regis()">สมัครสมาชิก</a>
                    </div>
                </div>
                <div class="row ">
                    <div class="col s12 center ">
                        <a class="waves-effect waves-light " [routerLink]="[ '/user/login']">เข้าสู่ระบบ</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>